<% include ./partials/header %>

  <div class="container text-center">
    <div class="row">
      <div class="col-md">
        <div class="jumbotron">
          <h1 class="display-4 rs-name">Rooter's <span id="vegan">Vegan</span> Pizzeria</h1>
          <p class="lead">Rhode Island's first fully vegan pizza providers.</p>
          <img id="circle-img" class="rounded-circle img-fluid" src="https://www.abouttimemagazine.co.uk/wp-content/uploads/2018/01/YSP-BJS-colab-JustinDeSouza-43.jpg">
          <hr class="my-4">
          <p>You can find us at various pop-ups, block parties, farmers markets, and festivals. See the link below for our current schedule.</p>
          <a id="schedbtn" class="btn btn-lg" href="/schedule" role="button">Our Schedule</a>
        </div>
      </div>
    </div>
  </div>

<% include ./partials/footer %>
