<% include ./partials/header %>

  <div class="container text-center">
    <div class="row">
      <div class="col-md">
        <div class="jumbotron">
          <h1 class="display-4 rs-name">Rooter's <span id="vegan">Vegan</span> Pizzeria</h1>
          <img id="circle-img" class="rounded-circle img-fluid" src="https://www.abouttimemagazine.co.uk/wp-content/uploads/2018/01/YSP-BJS-colab-JustinDeSouza-43.jpg">
          <h1 id="menuheader">Menu</h1>
          <hr class="my-4">
          <h2>Pizza </h2>
          <p>(12 inch pies)</p>
          <div class="container text-left">
            <div class="row">
              <div class="col">
                <ul class="menu">
                  <li>
                    <p>Olive Oil, Sea Salt, Rosemary<span class="price">$16</span>
                  </li>
                  <li>
                    <p>Tomato Pie<span class="price">$15</span></p>
                  </li>
                  <li>
                    <p>Margherita<span class="price">$16</span></p>
                  </li>
                  <li>
                    <p>Potato, Rosemary, Sea Salt<span class="price">$15</span></p>
                  </li>
                  <li>
                    <p>Pesto, Tomato, Mozzerella<span class="price">$15</span></p>
                  </li>
                  <li>
                    <p>Spinach, Ricotta, Garlic, Artichoke<span class="price">$15</span></p>
                  </li>
                  <li>
                    <p>BBQ Jackfruit<span class="price">$17</span></p>
                  </li>
                  <li>
                    <p>Balsamic, Peach, Ricotta, Basil<span class="price">$17</span></p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <hr class="my-4">
          <h2>Salads</h2>
          <div class="container text-left">
            <div class="row">
              <div class="col">
                <ul class="menu">
                  <li>
                    <p>Ceaser<span class="price">$9</span>
                  </li>
                  <li>
                    <p>Balsamic<span class="price">$9</span></p>
                  </li>
                  <li>
                    <p>Caprese<span class="price">$8</span></p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <hr class="my-4">
          <h2>Appetizers</h2>
          <div class="container text-left">
            <div class="row">
              <div class="col">
                <ul class="menu">
                  <li>
                    <p>Gnocchi<span class="price">$10</span>
                  </li>
                  <li>
                    <p>Fried Squash Blossoms<span class="price">$10</span></p>
                  </li>
                  <li>
                    <p>Mozzerella Sticks<span class="price">$8</span></p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include ./partials/footer %>
