<% include ./partials/header %>

  <div class="container text-center">
    <div class="row">
      <div class="col-md">
        <div class="jumbotron">
          <h1 class="display-4 rs-name">Rooter's <span id="vegan">Vegan</span> Pizzeria</h1>
          <img id="circle-img" class="rounded-circle img-fluid" src="https://www.abouttimemagazine.co.uk/wp-content/uploads/2018/01/YSP-BJS-colab-JustinDeSouza-43.jpg">
          <h1 id="menuheader">Menu</h1>
          <hr class="my-4">
          <h2>Pizza </h2>
          <p>(12 inch pies)</p>
          <div class="menu-margin container text-left">
            <div class="row">
              <div class="col">
                <ul>
                  <li>
                    <h4>Simpleton<span class="price">$15</span></h4>
                    <p><em>Olive oil, sea salt, rosemary</em></p>
                  </li>
                  <li>
                    <h4>Tomato Pie<span class="price">$15</span></h4>
                    <p><em>Tomato, garlic</em></p>
                  </li>
                  <li>
                    <h4>Margherita<span class="price">$16</span></h4>
                    <p><em>Tomato sauce, vegan mozz, basil</em></p>
                  </li>
                  <li>
                    <h4>Hot potato<span class="price">$16</span></h4>
                    <p><em>Potato, rosemary, sea salt</em></p>
                  </li>
                  <li>
                    <h4>Pesto tomato<span class="price">$16</span></h4>
                    <p><em>Pesto, tomato, vegan mozz</em></p>
                  </li>
                  <li>
                    <h4>Rooter's special<span class="price">$17</span></h4>
                    <p><em>Spinach, Ricotta, Garlic, Artichoke</em></p>
                  </li>
                  <li>
                    <h4>BBQ<span class="price">$17</span></h4>
                    <p><em>BBQ sauce, jackfruit, garlic aioli</em></p>
                  </li>
                  <li>
                    <h4>Fruity<span class="price">$17</span></h4>
                    <p><em>Balsamic, Peach, Ricotta, Basil</em></p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <hr class="my-4">
          <h2>Salads</h2>
          <div class="menu-margin container text-left">
            <div class="row">
              <div class="col">
                <ul class="menu">
                  <li>
                    <h4>Ceaser<span class="price">$9</span></h4>
                  </li>
                  <li>
                    <h4>Balsamic<span class="price">$9</span></h4>
                  </li>
                  <li>
                    <h4>Caprese<span class="price">$8</span></h4>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <hr class="my-4">
          <h2>Appetizers</h2>
          <div class="menu-margin container text-left">
            <div class="row">
              <div class="col">
                <ul class="menu">
                  <li>
                    <h4>Gnocchi<span class="price">$10</span></h4>
                  </li>
                  <li>
                    <h4>Fried Squash Blossom <span class="price">$10</span></h4>
                  </li>
                  <li>
                    <h4>Mozz Sticks<span class="price">$8</span></h4>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% include ./partials/footer %>
