<% include ./partials/header %>

  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <h1 class="display-4 rs-name">Request <span id="vegan">Rooter's</span> at your event.</h1>
          <p class="lead">Submit a request and we will be in touch ASAP!</p>
          <hr>
          <form class="contact" method="POST" action="/reservations">
            <div class="form-group">
              <input class="form-control" type="text" name="name" placeholder="name" required />
            </div>
            <div class="form-group">
              <input class="form-control" type="email" name="email" placeholder="email" required />
            </div>
            <div class="form-group">
              <input class="form-control" type="date" name="date" placeholder="date" required />
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" placeholder="Briefly Describe your event and needs and we will be in touch as soon as possible." required></textarea>
            </div>
            <div class="form-group">
              <input id="contactbtn" type="submit" class="btn  btn-lg  btn-block" value="Submit" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<% include ./partials/footer %>
