<% include ./partials/header %>

  <div class="container text-center">
    <div class="row">
      <div class="col-md">
        <div class="jumbotron">
          <h1 class="display-4 rs-name">Rooter's <span id="vegan">Winter</span> Schedule</h1>
          <p class="lead">We hope to be up and running ASAP!</p>
          <img id="circle-img" class="rounded-circle img-fluid" src="https://www.abouttimemagazine.co.uk/wp-content/uploads/2018/01/YSP-BJS-colab-JustinDeSouza-43.jpg">
          <hr class="my-4">
        </div>
      </div>
    </div>
  </div>

  <% include ./partials/footer %>
